/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

params {
  // Genome Reference File Pathds
  genome = "/fh/scratch/delete30/blancomelo_d/RNAseq_pipeline/ref/hg38.genome.fa"
  star_indices = "/fh/scratch/delete30/blancomelo_d/RNAseq_pipeline/ref/hg38_hervt_star_index2/"
  genome_refseq = "/fh/scratch/delete30/blancomelo_d/RNAseq_pipeline/ref/hg38_refseq_curated.bed"
  annotation_gtf = "/fh/scratch/delete30/blancomelo_d/RNAseq_pipeline/ref/hg38_NCBI_RefSeq_All_SK.gtf"
  chrom_sizes = "/fh/scratch/delete30/blancomelo_d/RNAseq_pipeline/ref/hg38.chrom.sizes"
  salmon_indices = "/fh/scratch/delete30/blancomelo_d/RNAseq_pipeline/ref/hg38_salmon_index_herv"
}
